/.angular/
/dist/
/node_modules/
/coverage/
/playwright-report/
/test-results/
/src/app/shared/api/generated/*
!/src/app/shared/api/generated/openapi.d.ts
!/src/app/shared/api/generated/error-codes.generated.ts
